# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache

# Frontend build
/public/build
/public/hot

# IDE / Editor settings
/.idea
/.vscode
/.fleet

# Logs / debug files
npm-debug.log
yarn-error.log
auth.json

# Homestead / Vagrant
Homestead.json
Homestead.yaml
